SOURCE_EVENT_LOG=/home/ceo/honeypot/services/historian/logs/events.jsonl
SOURCE_INGEST_LOG=/home/ceo/honeypot/services/historian/logs/ingest.jsonl
TARGET_DIR=/var/lib/docker/volumes/single-node_wazuh_logs/_data/historian
